# Archivo de configuración de ejemplo
# [Nombre del sistema]
# program_name = <ruta completa para acceder al programa desde el directorio actual
# arg1, arg2, arg3, arg4, arg5 = hasta 5 parámetros a pasar al programa
# desde = HH:MM si tiene un horario limitado en el día, hora y minutos a partir del cual debe correr
# hasta = HH:MM si tiene un horario limitado en el día, hora y minutos hasta la que tiene que ejecutar
# una_vez = si | no    Si no es una vez, ejecutará permanentemente mientras esté en su horario o continuamente

[LS]
program_name=ls
arg1=.
arg2=-l
desde=19:03
hasta=19:04

[LS2]
program_name=ls
arg1=.
arg2=-l
una_vez=si

